// this ensures padding/margin don't increase/decrease width of elements
* {
  box-sizing: border-box;
}

// Open Sans font from Google Fonts
body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// removes underlining and default color from all links
a {
  text-decoration: none;
  color: black;
}

